@media only screen and (max-width:991px) {
    #home-info .info-img{
        float: left;
        width: 100%;
        height: 100%;
        background-image: url(../img/hotel/photo-1.jpg);
    }
    #home-info .info-content{
        float: left;
        width: 100%;
        height: 110%;
        text-align: center;
        padding: 40px 30px;
    }
    .info-content a{
        /* margin-bottom: 5rem; */
        display: inline-block;
    }
    
}

@media only screen and (max-width:767px) {
    .box {
        width: 100%;
        float: left;
        padding: 50px;
        text-align: center;
    }

    /* About */
    #about-info .info-left {
        float: left;
        width: 100%;
        min-height: 100%;
    }
    #about-info .info-right {
        float: left;
        width: 100%;
        min-height: 100%;
    }
    #testimonials {
        height: 1200px;
        padding-top: 100px;
        background-image: url(../img/hotel/test-bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media only screen and (max-width:420px) {
    #navbar h1{
        padding-top: 15px;
    }
    #navbar ul li a{
        padding: 18px;
    }
    #navbar ul li a {
        display: inline-block;
        padding: 18px;
    }
}
@media only screen and (max-width:328px) {
    #navbar h1{
        padding-top: 10px;
    }
    #navbar ul li a{
        padding: 12px;
    }
    #navbar ul li a {
        display: inline-block;
        padding: 18px;
    }
}
